
body {
background-color: /*BurlyWood #00cbff;*/ #daedf1;
/* ebb: Looking for colors and color codes? Try the HTML color picker: https://www.w3schools.com/colors/colors_picker.asp */
color: /*#000000;*/ #1b4166;
font-family: arial, helvetica, sans-serif; 
margin-top: 40px;
margin-left: 60px;
margin-right: 60px;
}
/* ebb: This is a comment in CSS: 
 * Notice that the properties I set on the <body> element get passed down to elements inside it. So all my text is the color and font that I set here. 
 * If I want to change the styling of internal elements, I can just enter their names and apply CSS properties to them, following CSS syntax. 
 */

.tab { margin-left: 50px; }

a:link {
  color: #db0000;
}

/* visited link */
a:visited {
  color: blue;
}

/* mouse over link */
a:hover {
  color: #ff0000;
}

/* selected link */
a:active {
  color: #ffc000;
}


ul.Menu {
list-style-type: lower-alpha;
 padding: 5em;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  
  /*position: fixed;
  top: 0;*/
}

ul.Menu li {
  float: left;
}

ul.Menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 14.5px;
}

ul.Menu li a:hover {
  background-color: #111;
}
ul.no-bullets {
  list-style-type: none;
}
h1 {color: #fff; font-size: 3em;}
h2 {color: #1b4166; font-size: 25px;}
h3 {color: #1b4166}

div.header {
    background-color:#1b4166;
    padding:20px
}

p {
  font-size: 19px; text-indent: 50px;
}
li {
    font-size: 19px;
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
  height: 400px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

img#Avatar { width:500px; height:500px; margin:25px 25px 0px 0px; float:left;}

div.tex {margin:25px 25px 0px 0px;}

div.iframe {
    border: none; 
    width:100%; 
    height:780px;
    
}


